<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freeapp.com.hungrybird">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jugador"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/jugador"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".framework.GameActivity"
            android:noHistory = "true"/>
        <activity android:name=".HighScoreActivity"></activity>
    </application>

</manifest>